// #30567E
// #F5E88F
// #3978A1
// #FFFEFF
// #3AC2BF
// #F3DA51

.slideshow-container {
  width: 100vw;
}

.mySlides {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    background-color: #30567E;
}

.logo {
  width: 300px;
  margin-bottom: 50px;
  animation: fade 3s;
}

.text1 {
    animation-name: moveFromLeft;
    animation-duration: 2s;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 5px;
    margin-bottom: 50px;
    color:  #F5E88F;
}

.text2 {
    animation-name: moveFromRight;
    animation-duration: 2s;
    font-size: 32px;
    color: #3AC2BF;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes moveFromLeft {
  0% {transform: translateX(-300px)} 
  80% {transform: translateX(20px)} 
  100% {transform: translateX(0)}
}

@keyframes moveFromRight {
  0% {transform: translateX(300px)} 
  80% {transform: translateX(-20px)} 
  100% {transform: translateX(0)}
}

@media screen and (max-width: 930px) {

  .logo {
    width: 250px;
    margin-bottom: 50px;
  }
  
  .text1 {
      font-size: 32px;
      font-weight: bold;
      letter-spacing: 4px;
      margin-bottom: 40px;
  }
  
  .text2 {
      font-size: 24px;
  }
}

@media screen and (max-width: 650px) {

  .logo {
    width: 250px;
    margin-bottom: 0;
  }
  
  .text1 {
    display: none;
  }
  
  .text2 {
      display: none;
  }
}