.slideshow-container {
  width: 100vw;
}

.mySlides {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image1 {
    background-image: url(../../assets/DSC02007.JPG);
    background-size: cover;
    background-position: top;
}

.image2 {
    background-image: url(../../assets/DSC02026.JPG);
    background-size: cover;
    background-position: top;
}

.image3 {
    background-image: url(../../assets/DSC02055.JPG);
    background-size: cover;
    background-position: top;
}

.hide {
    display: none;
}

.show {
    display: flex;
}


img {
    width: 100%;
    position: relative;
}

.text1 {
    animation-name: moveFromLeft;
    animation-duration: 2s;
    color: white;
    font-size: 72px;
    font-weight: bold;
    letter-spacing: 5px;
    margin-bottom: 50px;
}

.text2 {
    animation-name: moveFromRight;
    animation-duration: 2s;
    color: white;
    font-size: 48px;
}

.fade {
  animation-name: fade;
  animation-duration: .5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes moveFromLeft {
  0% {transform: translateX(-300px)} 
  80% {transform: translateX(20px)} 
  100% {transform: translateX(0)}
}

@keyframes moveFromRight {
  0% {transform: translateX(300px)} 
  80% {transform: translateX(-20px)} 
  100% {transform: translateX(0)}
}