// #30567E
// #F5E88F
// #3978A1
// #FFFEFF
// #3AC2BF
// #F3DA51

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3AC2BF;
    padding: 30px 0;
    border-top: 3px solid #F3DA51;

    .footer-text {
        color: #FFFEFF;
        font-weight: bold;
        font-size: 18px;
    }
}