// #30567E
// #F5E88F
// #3978A1
// #FFFEFF
// #3AC2BF
// #F3DA51

.page{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFEFF;
    padding: 0 150px;
    .page-title {
        color: #30567E;
        font-size: 48px;
    }
    .page-paragraph {
        color: #000;
        font-size: 24px;
        line-height: 50px;
        letter-spacing: 2px;
    }
}